
.photostack {
    margin-bottom: 25rem;
    margin-left: 0rem;
    margin-right: 9rem;
}

   .gallery-section{
       position: relative;
   }
    .gallery-section img{
        width: 40%;
        position: absolute;
        z-index: 10;
        transition: all .5s;
        box-shadow: -3px 1px 5px rgba(0,0,0,-5);
    }
    .img1{
        left: 1rem;
        top: 1rem;
       border-radius: 2rem;
       box-shadow: 3rem;
       border-bottom: 30em;
    }
    .img2{
        left: 3rem;
        top: 3rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em;
    }
    .img3{
        left: 5rem;
        top: 5rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em; 
    }
    .img4{
        left: 7rem;
        top: 7rem;
        border-radius: 2rem;
       box-shadow: 3rem;
       border-bottom: 30em;
    }
    .img5{
        left: 11rem;
        top: 9rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em; 
    }
    .img6{
        left: 19rem;
        top: 1rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em;
    }
    .img7{
        left: 21rem;
        top: 3rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em;
    }
    .img8{
        left: 23rem;
        top: 5rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em;
    }
    .img9{
        left: 25rem;
        top: 7rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em;
    } 
    .img10{
        left: 27rem;
        top: 9rem;
        border-radius: 2rem;
        box-shadow: 3rem;
        border-bottom: 30em;
    }
    .gallery-section img:hover{
        z-index: 20;
        transform: scale(1.2) rotate(-10deg);
    }
    .gallery-section:hover img:not(:hover){
        transform: scale(0.9);
    }
