.photostack{
    margin-bottom: 40rem;
    margin-left: -05rem;
  }
  
   .gallery-section{
       position: relative;
   }
    .gallery-section img{
        width: 40%;
        position: absolute;
        z-index: 10;
        transition: all .5s;
        box-shadow: -3px 1px 5px rgba(0,0,0,-5);
    }
    .img1{
        left: 1rem;
        top: 1rem;
       
    }
    .img2{
        left: 3rem;
        top: 2rem;
       
    }
    .img3{
        left: 5rem;
        top: 3rem;
        
    }
    .img4{
        left: 7rem;
        top: 4rem;
        
    }
    .img5{
        left: 9rem;
        top: 5rem;
       
    }
    .img6{
        left: 11rem;
        top: 6rem;
        
    }
    .img7{
        left: 13rem;
        top: 7rem;
        
    }
    .img8{
        left: 15rem;
        top: 8rem;
        
    }
    .img9{
        left: 17rem;
        top: 9rem;
        height: 100%;
    } 
    .img10{
        left: 19rem;
        top: 10rem;
        
    }
    .gallery-section img:hover{
        z-index: 20;
        transform: scale(1.2) rotate(-10deg);
    }
    .gallery-section:hover img:not(:hover){
        transform: scale(0.9);
    }
